<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<link rel='stylesheet' type='text/css' href='./css/estilo.css'>
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"/>
	<title>Lista de Programas</title>
</head>
<body>
	<ul class="nav nav-tabs">
		<li role="presentation"><a href="/">Início</a></li>
		<li role="presentation"><a href="/cadastra">Cadastrar</a></li>
		<li role="presentation"><a href="/programacao">Programação</a></li>
		<li role="presentation"><a href="/lista_comunicadores">Listar Comunicadores</a></li>
		<li role="presentation" class="active"><a href="/lista_programas">Listar Programas</a></li>

	</ul>
	<br>
	<div class="container">
        <div class='row'>
        	<div class="col-lg-12"> 
        		<div class="panel panel-default">
					<div class="panel-heading center">
						Lista de Programas
					</div>
					<div class="panel-body center">
						<table class='table'>
							<tr>
								<td></td>
								<td></td>
								<td>Nome</td>
								<td>ID Comunicador</td>
								<td>ID Programa</td>
								<td>Duração</td>
								<td>Dias da Semana</td>
								<td>Hora de Início</td>
								<td>Hora de Fim</td>
							</tr>
							<% @vetprograma.each do |programa| %>
							<tr> 
								<td> <a href='/exclui_programa/<%= programa.id_p%>'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
								<td> <a href='/tela_altera_programa/<%= programa.id_p%>'><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
								<td><%= programa.nome %></td>
								<td><%= programa.id_c %></td>
								<td><%= programa.id_p %></td>
								<td><%= programa.duracao %></td>
								<td><%= programa.dias_da_semana %></td>
								<td><%= programa.hora_inicio %></td>
								<td><%= programa.hora_fim %></td>
							</tr>
							<% end %>
						</table>
					</div>
				</div>				
			</div>
		</div>
	</div>
</body>
</html>