<div class='row'>
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading center">
				Alterar Programa
			</div>
			<div class="panel-body center">
				
				<form action='/admin/altera_programa' method='post'>
					<div class="input-group col-lg-12">
					  <input type="text" class="form-control" placeholder="Nome" name='nome' value="<%= @programa.nome %>" aria-describedby="basic-addon3">
					  <input type="number" class="form-control" placeholder="Duração (em minutos)" name='duracao' aria-describedby="basic-addon3" value="<%= @programa.duracao %>">
					  <input type="text" class="form-control" placeholder="Dias da Semana (dias da semana que o programa vai ao ar)" name='dias_da_semana' aria-describedby="basic-addon3" value="<%= @programa.dias_da_semana %>">
					  <input type="number" class="form-control" placeholder="Hora Inicial (em números apenas: 00-24)" name='hora_inicio' aria-describedby="basic-addon3" value="<%= @programa.hora_inicio %>">
					  <input type="number" class="form-control" placeholder="Hora Final (em números apenas: 00-24)" name='hora_fim' aria-describedby="basic-addon3" value="<%= @programa.hora_fim %>">
					  <input type='hidden' name='id_p' value="<%= @programa.id_p %>">
					</div>
					<br>
				<input type='submit' class="btn btn-info">
				</form>
			</div>
		</div>
	</div>
</div>